@*@model (int storeGroup, int storeProductGroup)*@
@model List<GetNowServer.Models.StoreProductView>
@{
    var count = Model.Count;
    var columns = 4;
    var rows = count / columns;
    if (count % columns > 0)
        rows++;
}
@*<p class="h4">Hello <strong>world</strong></p>*@
<div class="d-flex">
    <div class="ml-auto">
        <div id="add-product"></div>
    </div>
</div>
<div id="products-content">
    <div class="container">
        @for (int row = 0; row < rows; row++)
        {
            <div class="row">
                @for (int column = 0; column < columns; column++)
                {
                    int i = row * columns + column;
                    if (i >= count)
                        break;

                    var item = Model[i];
                    <div class="col-3 item_product_main pb-2">
                        <div><a id="itemImgLink@(item.Id)" name="itemImgLink@(item.Id)" title="Click to change image" onclick="showChangeIconPopover(@(item.Id))"><img id="itemImg@(item.Id)" class="image_thumb" src="~/data_images/@(item.ImageFile??"photo.png")" /></a></div>
                        <div class="small">@(item.Name)</div>
                        <div class="small"><strong>@(Convert.ToDecimal(item.Price).ToString("n0"))đ</strong></div>
                    </div>
                }
            </div>
        }
    </div>
</div>
<div id="changeIconPopoverContainer">
    <div id="changeIconFileUploader"></div>
    <div id="removeIconButton"></div>
</div>
<script>
    $(function () {
        $("#add-product").dxButton({
            icon: "add",
            type: "default",
            stylingMode: "contained",
            text: "Add Product",
            onClick: function (e) {
                addProduct();
            }
        });

        createDxFileUploader('@Url.Action("ProductImage", "Upload")');
    });

    function addProduct() {
        var product = @Html.Raw(Json.Serialize(@Model[0]));
        $("#popupDiv").dxPopup({
            visible: true,
            title: 'Add Product',
            minwidth: 500,
            minheight: 500,
            position: {
                my: 'center',
                at: 'center',
                of: window
            },
            dragEnabled: true,
            contentTemplate: function (e) {
                var formContainer = $("<div id='subForm'>");
                myNewCustomerForm = formContainer.dxForm({
                    formData: product,
                    readOnly: false,
                    showColonAfterLabel: false,
                    labelLocation: "left",
                    //minColWidth: 300,
                    showValidationSummary: true,
                    items: [
                        {
                            itemType: "group",
                            caption: "Product Information",
                            colCount: 2,
                            items: ["Id", "Name", "Unit", "Code", "Brand", "Origin", "Size", "Color", "Description", "Image"]
                            //items: [{
                            //    dataField: "Name",
                            //    label: { text: "Name" },
                            //    editorOptions: {
                            //    },
                            //    validationRules: [{
                            //        type: "required",
                            //        message: "Product Name is required"
                            //    }]
                            //}]
                        }, {
                            itemType: "button",
                            horizontalAlignment: "left",
                            colSpan: 2,
                            buttonOptions: {
                                icon: "save",
                                text: "Save",
                                type: "default",
                                stylingMode: "contained",
                                useSubmitBehavior: true,
                                onClick: function () {
                                    mainForm.getEditor("mainFormSubmit").option("useSubmitBehavior", false);
                                    $("#popupForm").submit();
                                }
                            },
                        }
                    ]
                }).dxForm("instance");
                e.append(formContainer);

                $("#popupForm").on("submit", function (e) {
                    alert('#popupForm submit pressed');
                });
            }
        });
    }
</script>
