@page
@model GetNowServer.Pages.StoresModel

<script>
    selectedMenuItemId = "#ni-stores"
    var storesDataSource = {};
</script>
<h2 class="content-block">Stores</h2>
@(Html.DevExtreme().DataGrid<GetNowServer.Models.Store>()
    .DataSource(ds => ds.Mvc()
        .Controller("Stores")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .ShowBorders(true)
    .OnEditorPreparing("onEditorPreparing")
    //.RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.Id).Alignment(HorizontalAlignment.Center).CssClass("col-1");

        columns.AddFor(m => m.Name).CalculateFilterExpression(@<text>
            function (filterValue, selectedFilterOperation, target) {
                return filterTextVN(filterValue, selectedFilterOperation);
            }
        </text>);

        columns.AddFor(m => m.Province)
            .CssClass("col-1")
            .SetCellValue("setProvince")
            .Lookup(lookup => lookup
                .DataSource("getProvinces")
                .ValueExpr("Value")
                .DisplayExpr("Text")
            );

        columns.AddFor(m => m.District)
            .SetCellValue("setDistrict")
            .Lookup(lookup => lookup
                .DataSource("getDistricts")
                .ValueExpr("Id")
                .DisplayExpr("Name")
            );

        columns.AddFor(m => m.Ward).Lookup(lookup => lookup
            .DataSource("getWards")
            .ValueExpr("Id")
            .DisplayExpr("Name")
        );

        columns.AddFor(m => m.Address);

        columns.AddFor(m => m.Company).Lookup(lookup => lookup
            .DataSource("getCompanies")
            .ValueExpr("Id")
            .DisplayExpr("Name")
        );

        /*columns.AddFor(m => m.ContactName);

        columns.AddFor(m => m.ContactPhone);

        columns.AddFor(m => m.ContactPhone2);

        columns.AddFor(m => m.Website);*/
    })
    .FilterRow(filterRow => filterRow
        .Visible(true)
        .ApplyFilter(GridApplyFilterMode.Auto)
    )
    .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .Popup(p => p
            .Title("Store Info")
            .ShowTitle(true)
            .Width(700)
            .Height(525)
        )
        .Form(f => f.Items(items => {
            items.AddGroup()
                .ColCount(2)
                .ColSpan(2)
                .Items(groupItems =>
                {
                    groupItems.AddSimpleFor(m => m.Id);
                    groupItems.AddSimpleFor(m => m.Name);
                    groupItems.AddSimpleFor(m => m.Company);
                //groupItems.AddSimpleFor(m => m.Notes).ColSpan(2).Editor(editor => editor.TextArea().Height(100));
            });
            items.AddGroup()
                .Caption("Address")
                .ColCount(2)
                .ColSpan(2)
                .Items(groupItems =>
                {
                    groupItems.AddSimpleFor(m => m.Province);
                    groupItems.AddSimpleFor(m => m.District);
                    groupItems.AddSimpleFor(m => m.Ward);
                    groupItems.AddSimpleFor(m => m.Address);
                });
        }))
    )
    .OnInitNewRow(@<text>
        function(e) {
            e.data.Province = 1;
            e.component.option("editing.popup.title", "Create New Store");
        }
    </text>)
    .OnEditingStart(@<text>
        function(e) {
            e.component.option("editing.popup.title", "Update Store: " + e.data.Name);
        }
    </text>)
)
<script>
    function onEditorPreparing(e) {
        if (e.parentType === "dataRow") {
            if (e.dataField === "District")
                e.editorOptions.disabled = (typeof e.row.data.Province !== "number");
            else if (e.dataField === "Ward")
                e.editorOptions.disabled = (typeof e.row.data.District !== "number");
        }
    }
    function getProvinces(options) {
        return getDataSource(storesDataSource, "Provinces", '@Url.Action("ProvincesLookup", "Districts")');
    }
    function getDistricts(options) {
        return getDataSource(storesDataSource, "Districts", '@Url.Action("Get", "Districts")', "Province", options.data);
    }
    function setProvince(rowData, value) {
        rowData.Province = value;
        rowData.District = null;
    }
    function getWards(options) {
        return getDataSource(storesDataSource, "Wards", '@Url.Action("Get", "Wards")', "District", options.data);
    }
    function setDistrict(rowData, value) {
        rowData.District = value;
        rowData.Ward = null;
    }
    function getCompanies(options) {
        return getDataSource(storesDataSource, "Companies", '@Url.Action("Get", "Companies")');
    }
</script>